In [99]:
#  by feature construction model gets increased....
#  but only  one could do when person have deep understanding
#  of data......

In [100]:
import numpy as np
import pandas as pd

In [101]:
v = pd.read_csv('/content/train (4).csv')

In [102]:
v.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [103]:
new_v = v[['Age', 'Pclass', 'SibSp', 'Parch', 'Survived']]

# so here we applied two bracket because we have to bring several columns
# if i have to  bring only one column then we  could aplly
# only one  bracket

In [104]:
new_v

      Age  Pclass  SibSp  Parch  Survived
0    22.0       3      1      0         0
1    38.0       1      1      0         1
2    26.0       3      0      0         1
3    35.0       1      1      0         1
4    35.0       3      0      0         0
..    ...     ...    ...    ...       ...
886  27.0       2      0      0         0
887  19.0       1      0      0         1
888   NaN       3      1      2         0
889  26.0       1      0      0         1
890  32.0       3      0      0         0

[891 rows x 5 columns]

In [105]:
new_v.dropna(inplace = True)
# removes completely  that  row whom have
# missing values

/tmp/ipython-input-105-43295710.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_v.dropna(inplace = True)

In [106]:
new_v.head(1)

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0

In [107]:
#              feature construction


# so by sibsp and parent_child we  have two columns.. so we unite these
# all  the  two colums... and make family_type column

# 0   alone
# 1   small
# 2   large
# by this  sometimes ou model accuarcy gets increased....


#     feature splitting

In [108]:
x = new_v.iloc[:,0:4]
# we take x variable to store
y = new_v.iloc[:,-1]

In [109]:
x.head(1)

    Age  Pclass  SibSp  Parch
0  22.0       3      1      0

In [110]:
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import LogisticRegression

In [111]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring = 'accuracy',cv = 20)*100)

np.float64(69.33333333333334)

In [112]:
     # Applying Feature Construction

In [113]:
x['Family_size']  = x['SibSp'] + x['Parch'] + 1

# creates a new column Family_size.
# It adds siblings/spouse (SibSp) and parents/children (Parch)
# together, plus 1 for the passenger itself.
# This gives the total number of family members
# traveling with that passenger.

In [114]:
x.head(1)

    Age  Pclass  SibSp  Parch  Family_size
0  22.0       3      1      0            2

In [115]:
def myfunc(num):
# def myfunc(num): means we are creating a function
# named myfunc that takes one input called num.
# This function will return 0, 1, or 2
# based on the value of num (alone, small family, or large family).
    if num == 1:
       # alone
        return 0
    elif num>1 and num <= 4:
        return 1    # small family
    else:
        return 2    # large family

In [116]:
myfunc(4)
# actually we could see when this defining function
# is returning 1 because we already defined
# that if number is greater than 1 and lesser than 4
# then have to return 1

1

In [117]:
x['Family_type'] = x['Family_size'].apply(myfunc)

In [118]:
x.head()

    Age  Pclass  SibSp  Parch  Family_size  Family_type
0  22.0       3      1      0            2            1
1  38.0       1      1      0            2            1
2  26.0       3      0      0            1            0
3  35.0       1      1      0            2            1
4  35.0       3      0      0            1            0

In [119]:
x.drop(columns = ['SibSp','Parch','Family_size'],inplace = True)

In [120]:
x.head

    Age  Pclass  Family_type
0  22.0       3            1

In [123]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring = 'accuracy',cv = 20)*100 )

np.float64(70.03174603174604)

##**featureSplitting**

In [127]:
 v = pd.read_csv('/content/train (4).csv')

In [128]:
v.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [132]:
v['Name']
# so here what we have to do  is  to separate the selutation
# line before comma and after the commma

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [133]:
v['Title'] = v['Name'].str.split(',',expand = True)[1].str.split('.',expand = True)[0]

In [136]:
v['Name'].str.split(',',expand = True)[1]

0                                  Mr. Owen Harris
1       Mrs. John Bradley (Florence Briggs Thayer)
2                                      Miss. Laina
3               Mrs. Jacques Heath (Lily May Peel)
4                                Mr. William Henry
                          ...
886                                    Rev. Juozas
887                           Miss. Margaret Edith
888                 Miss. Catherine Helen "Carrie"
889                                Mr. Karl Howell
890                                    Mr. Patrick
Name: 1, Length: 891, dtype: object

In [139]:
v[['Title' , 'Name']].head(10)

     Title                                               Name
0       Mr                            Braund, Mr. Owen Harris
1      Mrs  Cumings, Mrs. John Bradley (Florence Briggs Th...
2     Miss                             Heikkinen, Miss. Laina
3      Mrs       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4       Mr                           Allen, Mr. William Henry
5       Mr                                   Moran, Mr. James
6       Mr                            McCarthy, Mr. Timothy J
7   Master                     Palsson, Master. Gosta Leonard
8      Mrs  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9      Mrs                Nasser, Mrs. Nicholas (Adele Achem)

In [144]:
print(v.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title'],
      dtype='object')

In [147]:

v.groupby('Title')['Survived'].mean().sort_values(ascending=False)

Title
Lady            1.000000
Ms              1.000000
Sir             1.000000
Mme             1.000000
the Countess    1.000000
Mlle            1.000000
Mrs             0.792000
Miss            0.697802
Master          0.575000
Major           0.500000
Col             0.500000
Dr              0.428571
Mr              0.156673
Capt            0.000000
Jonkheer        0.000000
Don             0.000000
Rev             0.000000
Name: Survived, dtype: float64

In [ ]:
# here we could see in marry women the servival rate
# is extremely high........

In [152]:
v['is_married'] = 0
v['is_married'].loc[v['Title']=='Mrs'] = 1
## we could create new colums if we have deep knowledge
# in any domain or dataframe

/tmp/ipython-input-152-2092810886.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  v['is_married'].loc[v['Title']=='Mrs'] = 1
/tmp/ipython-input-152-2092810886.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  v['is_married'].loc[v['Title']=='Mrs'] = 1

In [153]:
v['is_married']

0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    0
889    0
890    0
Name: is_married, Length: 891, dtype: int64